*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor {
    max-width: 1200px;    
    margin: auto;
    padding-top: 30px;
}

.contenedor h1 {
    font-size:40px;
    font-weight: 600;    
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 0;
}

.contenedor header > form {
    display: inline-block;
}

input, select{
    padding: 0.5em;
}

.contenedor header form > label {
    padding-right: 10px;
    font-size: medium;
    margin-left: 10px;
}

.contenedor header button {
    display: block;
    padding: 0.5em;
    margin-top: 10px;
    margin-left: 10px;

}

.contenedor main {    
    padding: 0 10px;
    margin-top: 15px;
}

.contenedor .personalizado .moreOpcion{        
    text-align: center;
    padding: 25px 0;  
    width: 75%;
    margin: auto;
}
.contenedor main .personalizado {
    background-color:blanchedalmond;
}

.contenedor .personalizado .moreOpcion > form > input, .contenedor .personalizado .moreOpcion > form > .limpiar {
    padding: 10px 50px;
}

.contenedor .personalizado .moreOpcion > form > .limpiar {    
    text-decoration: none;
    color: black;
    border-radius: 2px;
    background-color: #f0f0f0;
    border: 1px solid slategray;
}

.contenedor .personalizado .moreOpcion > form > .more {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30px 100px;        
}

.contenedor .personalizado .moreOpcion > form > .more > div {
    display: flex;
    /* border-right: 1px solid black; */
    height: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.contenedor .personalizado .moreOpcion > form > .more > .rol > div{
    display: flex;
    justify-content: space-between;
    width: 70%;
}


.Ocultar {
    display: none;
}

.contenedor main .tabla {    
    width: 100%;
    text-align: center;    
    border-collapse: collapse;    
}

.tabla td, .tabla th {
    padding: 15px;
}

.tabla tbody > tr {
    border-bottom: 2px solid #f0f0f0;
}

.tabla tbody > tr:hover{
    background: #f0f0f0;
    color: #3b3732;
}

/* ESTILO NARANJA */
.tabla-outline-red thead {
    background:wheat;
    color: dimgray;
}

 footer {
    text-align: center;
    padding: 50px;
    background: tomato;
    color: white;
}

footer p {
    font-size: larger;
}


